@use 'sass:math';
// Подключаем файл с переменными из текущей директории
@use './vars.scss' as *; // Переменные (например, цвета, шрифты и т.д.)

// Подключаем библиотеку include-media для работы с медиазапросами
// Используем @forward, чтобы сделать библиотеку доступной в других файлах
@forward '../../node_modules/include-media/dist/include-media';

// Миксин для стилизации ссылок
@mixin link($color: $blue, $hoverColor: $red) {
  color: $color; // Цвет текста по умолчанию (используется переменная $blue)
  transition: color 200ms ease; // Плавное изменение цвета текста за 200 мс

  // Стили для состояний :hover и :active
  &:hover,
  &:active {
    color: $hoverColor; // Цвет текста при наведении или активации (используется переменная $red)
    transition: none; // Отключаем плавный переход для мгновенного изменения цвета
  }
}

// Миксин для стилизации заголовка первого уровня (h1)
@mixin h1 {
  font-size: 30px; // Размер шрифта
  font-weight: bold; // Жирное начертание
}

// Миксин для стилизации заголовка второго уровня (h2)
@mixin h2 {
  font-size: 24px; // Размер шрифта
  font-weight: bold; // Жирное начертание
}

@mixin loader($borderWidth, $size, $color) {
  &:after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
    border-top: $borderWidth solid rgba($color, 0.2);
    border-right: $borderWidth solid rgba($color, 0.2);
    border-bottom: $borderWidth solid rgba($color, 0.2);
    border-left: $borderWidth solid $color;
    width: $size;
    height: $size;
    margin-left: math.div(-$size, 2);
    margin-top: math.div(-$size, 2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
