// Определение цветовых переменных
$white: #fff; // Белый цвет (шестнадцатеричное значение)
$black: #000; // Черный цвет (шестнадцатеричное значение)
$blue: #00c; // Синий цвет (шестнадцатеричное значение, сокращенная запись #0000cc)
$red: #c00; // Красный цвет (шестнадцатеричное значение, сокращенная запись #cc0000)
$gray: #ccc;
// Определение переменных для шрифтов и текста
$defaultFontFamily: 'Helvetica', 'Arial', sans-serif; // Основной шрифт и fallback-шрифты
$defaultFontSize: 14px; // Размер шрифта по умолчанию
$defaultBackgroundColor: $white; // Цвет фона по умолчанию (используется переменная $white)
$defaultTextColor: $black; // Цвет текста по умолчанию (используется переменная $black)
$defaultLineHeight: 1.2; // Высота строки по умолчанию (без единиц измерения, относительное значение)

$borderRadiusSmall: 3px;
