// Подключаем библиотеку reset-css для сброса стилей по умолчанию
@use '../../node_modules/reset-css/sass/reset';
// Подключаем файл с переменными из текущей директории
@use './vars.scss' as *; // Переменные (например, цвета, шрифты и т.д.)
// Стили для html, body и корневого элемента (#root)
html,
body,
#root {
  height: $notexi; // Занимаем всю доступную высоту
  min-height: 100%; // Минимальная высота также 100%
  width: 100%; // Занимаем всю доступную ширину
  position: relative; // Устанавливаем относительное позиционирование
}

body {
  font-family: $defaultFontFamily; // Используем шрифт по умолчанию
  font-size: $defaultFontSize; // Используем размер шрифта по умолчанию
  background: $defaultBackgroundColor; // Используем цвет фона по умолчанию
  color: $defaultTextColor; // Используем цвет текста по умолчанию
  line-height: $defaultLineHeight; // Используем высоту строки по умолчанию
}

// Глобальные стили для всех элементов и их псевдоэлементов
*,
*:before,
*:after {
  box-sizing: border-box; // Устанавливаем box-sizing: border-box для всех элементов
}

// Стили для ссылок
a {
  text-decoration: none; // Убираем подчеркивание у ссылок
}
