// Подключаем файлы с переменными и миксинами из указанных путей
@use '../../styles/_vars' as *; // Переменные (например, цвета, шрифты и т.д.)
@use '../../styles/_mixins' as *; // Миксины (например, готовые стили для заголовков, ссылок и т.д.)

// Стили для заголовка
.title {
  @include h1; // Применяем миксин для стилизации заголовка первого уровня (h1)
}

// Стили для блока новостей
.news {
  // Стили для текстового блока внутри новостей
  .text {
    padding: 20px; // Внутренние отступы
    border: 1px solid $black; // Граница черного цвета
    border-radius: 10px; // Закругление углов

    // Для каждого следующего текстового блока добавляем отступ сверху
    & + .text {
      margin-top: 20px;
    }

    // Стили для заголовка внутри текстового блока
    .home {
      @include h2; // Применяем миксин для стилизации заголовка второго уровня (h2)

      // Стили для ссылки внутри заголовка
      .textLink {
        @include link; // Применяем миксин для стилизации ссылки
      }
    }

    // Стили для описания текста
    .textDescription {
      font-size: 18px; // Размер шрифта
    }
  }
}
