// Подключаем библиотеку include-media для удобной работы с медиазапросами
@use 'include-media';

// Подключаем файл с переменными и миксинами из указанных путей
@use '../../styles/vars' as *; // Переменные
@use '../../styles/mixins' as *; // Миксины

// Определяем переменную для медиазапроса, которая будет использоваться для адаптации на экранах <= 900px
$breakpoint: '<=900px';

// Основной класс .layout, который задает структуру макета
.layout {
  display: flex; // Используем Flexbox для создания гибкого макета
  flex-flow: row nowrap; // Располагаем элементы в строку без переноса
  height: 100%; // Занимаем всю доступную высоту

  // Применяем стили для экранов, ширина которых меньше или равна 900px
  @include media($breakpoint) {
    flex-flow: column nowrap; // Меняем направление на колонку для мобильных устройств
  }

  // Стили для блока навигации
  .navigation {
    height: 100%; // Занимаем всю доступную высоту
    overflow: auto; // Добавляем прокрутку, если контент не помещается
    flex: 0 0 200px; // Фиксированная ширина 200px, блок не растягивается и не сжимается
    padding: 20px 30px; // Внутренние отступы
    border-right: 1px solid $black; // Правая граница черного цвета

    // Адаптация для экранов <= 900px
    @include media($breakpoint) {
      overflow: visible; // Убираем прокрутку
      flex: 0 0 auto; // Отключаем фиксированную ширину
      height: auto; // Высота автоматическая
      border-right: none; // Убираем правую границу
      border-bottom: 1px solid $black; // Добавляем нижнюю границу
    }

    // Стили для логотипа
    .logo {
      font-weight: bold; // Жирный шрифт
      font-size: 20px; // Размер шрифта
      margin-bottom: 10px; // Отступ снизу
    }

    // Стили для меню
    .menu {
      .item {
        // Для всех элементов меню, кроме первого, добавляем отступ сверху
        &:not(:first-child) {
          margin-top: 5px;
        }

        // Стили для ссылок в меню
        .link {
          @include link; // Применяем миксин для стилизации ссылок
        }
      }
    }
  }

  // Стили для основного контента
  .content {
    height: 100%; // Занимаем всю доступную высоту
    overflow: auto; // Добавляем прокрутку, если контент не помещается
    flex: 1 1 100%; // Блок растягивается и сжимается, занимая оставшееся пространство
    padding: 20px 30px; // Внутренние отступы

    // Адаптация для экранов <= 900px
    @include media($breakpoint) {
      overflow: visible; // Убираем прокрутку
      flex: 0 0 auto; // Отключаем растягивание
      height: auto; // Высота автоматическая
    }
  }
}
