// Подключаем файлы с переменными и миксинами из указанных путей
@use '../../../styles/vars' as *; // Переменные (например, цвета, шрифты и т.д.)
@use '../../../styles/mixins' as *; // Миксины (например, готовые стили для заголовков, ссылок и т.д.)

// Стили для блока новостей
.news {
  // Стили для текстового блока внутри новостей
  .text {
    padding: 20px; // Внутренние отступы
    border: 1px solid $black; // Граница черного цвета
    border-radius: 10px; // Закругление углов
    // Для каждого следующего текстового блока добавляем отступ сверху
    & + .text {
      margin-top: 20px;
    }
    // Стили для ссылки внутри заголовка
    .textLink {
      @include link; // Применяем миксин для стилизации ссылки
    }
  }
  
  .more {
    margin-top: 15px;
  }
}
