// Подключаем файлы с переменными и миксинами из указанных путей
@use '../../styles/_vars' as *; // Переменные (например, цвета, шрифты и т.д.)
@use '../../styles/_mixins' as *; // Миксины (например, готовые стили для заголовков, ссылок и т.д.)

// Стили для заголовка
.title {
  @include h1; // Применяем миксин для стилизации заголовка первого уровня (h1)
  margin-bottom: 2px; // Отступ снизу для заголовка
}

// Стили для описания
.description {
  font-size: 18px; // Размер шрифта
  margin-bottom: 20px; // Отступ снизу для описания
}

// Стили для текстового блока
.text {
  font-size: 14px; // Размер шрифта для текста

  // Для всех дочерних элементов, кроме первого, добавляем отступ сверху
  & > *:not(:first-child) {
    margin-top: 10px; // Отступ сверху
  }
}
