// Подключаем файлы с переменными и миксинами из указанных путей
@use '../../styles/vars' as *; // Переменные (например, цвета, шрифты и т.д.)
@use '../../styles/mixins' as *; // Миксины (например, готовые стили для заголовков, ссылок и т.д.)

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

// Стили для текстового блока
.text {
  font-size: 14px; // Размер шрифта для текста

  // Для всех дочерних элементов, кроме первого, добавляем отступ сверху
  & > *:not(:first-child) {
    margin-top: 10px; // Отступ сверху
  }
}
